last 20 versions
not ie <= 11
not ie_mob <= 11
not op_mini all
not and_chr > 1
not and_ff > 1
not and_qq > 1
not and_uc > 1
not baidu > 1
not ios_saf < 8
not kaios > 1
not safari < 8
not samsung < 10.1
not bb <= 10
