/* stylelint-disable value-no-vendor-prefix */
.song-name {
  @apply text-left;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.song-button {
  @apply text-white flex gap-x-4 py-4 items-start hover:opacity-70 transition-opacity duration-150 h-20;
}

.song-button_disabled {
  @apply hover:opacity-100 cursor-default;
}
